@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to EventEase</h1>

<p>This is our venue booking management system.</p>

<h3>Quick Links:</h3>
<ul>
    <li><a href="/Venues">View All Venues</a></li>
    <li><a href="/Venues/Create">Add New Venue</a></li>
</ul>

<p>Made by [Sean Chihwendu] - EventEase Project Part 1</p>